<!-- this template expects a form object instantiated from Flask's LoginForm (form) -->


{% extends "base.html" %}

{% block content %}

    <h1>Sign In</h1>


    <!-- action = "" indicates use url that we're on rn
    	we are validating flask side
	-->
    <form action="" method="post" novalidate>
        <!--  used to protect against CSRF attacks  - need defined secret_key too -->
        {{ form.hidden_tag() }}
        <p>
            <!-- form.<field_name>.label => field label
             	 form.<field_name>()     => field
            -->
            {{ form.username.label }}<br>
            <!-- this needs additional HTML element (size) 
            	 pass it as an arguement
            	 can attached CSS class/id like this
        	-->
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.remember_me() }} {{ form.remember_me.label }}
        </p>
        <p>
        {{ form.submit() }}
        </p>
    </form>
{% endblock %}

